@page "{id:int}"
@model AirBook.Pages.Itinerarios.DeleteModel
@{
    ViewData["Title"] = "Eliminar Itinerario";
}

<h1>Eliminar Itinerario</h1>

<h3>¿Está seguro que desea eliminar este itinerario?</h3>
<div>
    <h4>Itinerario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itinerario.IdReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itinerario.IdReserva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Itinerario.Detalle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Itinerario.Detalle)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Itinerario.IdItinerario" />
        <button type="submit" class="btn btn-danger">Eliminar</button> |
        <a asp-page="./Index">Cancelar</a>
    </form>
</div>