@page
@model AirBook.Pages.Aerolineas.CreateModel
@{
    ViewData["Title"] = "Crear Nueva Aerolínea";
}

<h2>Crear Nueva Aerolínea</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Aerolinea.NombreAerolinea" class="control-label"></label>
        <input asp-for="Aerolinea.NombreAerolinea" class="form-control" />
        <span asp-validation-for="Aerolinea.NombreAerolinea" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>